DISCORD_COMMAND_CHANNEL_ID=  "private, admin bot controller"
DISCORD_ANNOUNCEMENT_CHANNEL_ID= "public announcment channel "
DISCORD_TFC_CHANNEL_ID= "public, tfc channel "

DISCORD_BOT_TOKEN= "shuvo bhai er kache ache"


TG_BOT_TOKEN=  "porer gula Sadat er kache :) "
TG_ANNOUNCEMENT_CHANNEL_ID=
TG_SUPER_ADMIN_ID=

GOOGLE_SERVICE_ACCOUNT=
CALENDAR_ID=
